openapi: 3.0.0
info:
  title: Todos API
  description: Todos API, a simple API for managing todos
  version: 0.1.9
servers:
  - url: https://apis.tasks.demo.meanii.dev/todos/v1
    description: Production server
  - url: http://localhost:3000/todos/v1
    description: Local server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT


  schemas:
    Todo:
      type: object
      properties:
        title: 
          type: string
          description: The title of the todo
        description:
          type: string
          description: The description of the todo
        completed:
          type: boolean
          description: Whether the todo is completed or not
    
    UnauthorizedError:
      type: object
      properties:
        message:
          type: string
          description: The error message
        internal_code:
          type: string
          description: The internal error code
    
    SuccessResponse:
      type: object
      properties:
        message:
          type: string
          description: The success message
        data:
          type: object
          description: The data returned
          $ref: '#/components/schemas/Todo'
    
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: The error message
        internal_code:
          type: string
          description: The internal error code

paths:

  /:
    get:
      summary: Get all todos
      description: Get all todos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of todos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Todo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    
    post:
      summary: Create a todo
      description: Create a todo
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Todo'
      responses:
        '201':
          description: The todo has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'